<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Winter Star</h1>
        <div class="hero-wrapper">
                <img class="hero-logo" src="/img/hero/logo.png" alt="Winter Star" loading="lazy" width="340" height="340" />

            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/button@2x.png" alt="Enter" loading="lazy" width="227" height="90" />
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclaimer-container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">datanestus.site IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
        AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <div class="about-wrapper">
        <h2 class="about-title">ABOUT GAME</h2>
        <div class="about-text-wrapper">
            <p>Let's keep the winter story short and sweet here.
</p>
<p>Winter Star welcomes you into a a winter night scene where the snow catches the light just right, keeping that cozy
holiday feeling going even after the decorations come down. Perfect for folks who actually love winter (yes, we exist!)
and want to keep that seasonal magic going way past New Year's.</p>
<p>You'll recognize the usual symbols, but they've got this cool icy makeover. The fun stuff though? That's in the special
features: Wilds, Golden Bells, Scatter Pays, and a unique Multichoice Bonus Mode that lets players shape their own
winter journey.</p>
        </div>
    </div>
    </div>
</section>