<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Winter Star</h1>
        <div class="hero-wrapper">
                <img class="hero-logo" src="/img/hero/logo.png" alt="Winter Star" loading="lazy" width="340" height="340" />

            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/button@2x.png" alt="Enter" loading="lazy" width="227" height="90" />
            </a>
        </div>
    </div>
</section>