.footer-container{
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
    font-size: 16px;

}
.footer-text{
  text-align: center;
}
.footer-navigation{
  display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (min-width: 1440px) {
  .footer-container{
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-navigation{
    flex-direction: row;
    gap: 28px;
  }
}