.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
backdrop-filter: blur(22px);
  background: linear-gradient(90deg, rgba(118, 255, 234, 0.45) 0%, rgba(255, 255, 255, 0.45) 100%);

  border-bottom: 2px solid #76ffea;
  height: 60px;
  width: 100%;

}

.header-container {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
backdrop-filter: blur(32px);
  background: linear-gradient(180deg, rgba(36, 126, 255, 0.7) 0%, rgba(0, 3, 83, 0.7) 100%);
padding: 124px 60px;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: start;
}


.menu-list-item {
font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease;
}


.menu-list-item:hover,
.menu-list-item:focus,
.menu-list-item.active {
border: 2px solid #76ffea;
  border-radius: 32px;
  padding: 6px 12px;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
  height: 80px;
  }

  .header-container {
    padding: 26px 100px;
    justify-content: center;
    align-items: center;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 100px;
  }




  .links {
font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
    transition: all 0.2s ease;
  }



  .links:hover,
  .links:focus,
  .links.active {
  border: 2px solid #76ffea;
    border-radius: 32px;
    padding: 6px 12px;
  }

}