.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.hero-logo{
    margin-top: 98px;
    margin-left: auto;
    margin-right: auto;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}
@media only screen and (min-width: 1440px) {
    .hero-section{
        background-image: url("/img/hero/desk.png");
    }
    .hero-logo{
        margin-top: 78px;
    }
}
/* Disclaimer */
.disclaimer-section{
    box-shadow: inset 0 0 32px 0 #43f8ff;
        background: linear-gradient(180deg, #2e2bcf 0.35%, #6ae0f6 100%);
}
.disclaimer-text{
    margin-top: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #fff;
}
@media only screen and (min-width: 1440px) {
 .disclaimer-text{
    font-size: 32px;
        line-height: 1.25;
 }
 .disclaimer-container{
    padding-top: 42px;
    padding-bottom: 42px;
 }
}
/* ABOUT GAME */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1190px;
}
.about-wrapper{
    backdrop-filter: blur(22px);
        box-shadow: inset 0 0 22px 0 rgba(255, 255, 255, 0.8);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.45) 0%, rgba(118, 255, 234, 0.45) 100%);
        border-radius: 22px;
            padding: 44px 22px;
            width: 335px;
            height: 782px;
}
.about-text-wrapper{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
@media only screen and (min-width: 1440px) {
  .about-section{
    background-image: url("/img/about/desk.png");
    height: 840px;
  }
  .about-wrapper{
    border-radius: 22px;
        padding: 44px 22px;
        width: 1240px;
        height: 381px;
  }
}
/* Symbols */
.symbols-section{
    background-image: url("/img/symbols/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.symbols-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.symbols-item{
    border-radius: 22px;
        padding: 22px;
        width: 335px;
        height: auto;
        backdrop-filter: blur(22px);
            box-shadow: inset 0 0 22px 0 rgba(255, 255, 255, 0.8);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.45) 0%, rgba(118, 255, 234, 0.45) 100%);   
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
}
.symbols-subtitle{
    font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: #76ffea;
}
.symbols-item-list{
    list-style-type: disc;
    padding-left: 20px;
}
@media only screen and (min-width: 1440px) {
   .symbols-section{
    background-image: url("/img/symbols/desk.png");
   }
   .symbols-container{
    padding: 193px 164px;
   }
   .symbols-list{
    flex-direction: row;
   }
   .symbols-item{
    border-radius: 22px;
        padding: 22px;
        width: 540px;
        height: 454px;
   }
   .symbols-item-list{
    padding-left: 30px;
   }
}
/* Gallery */
.gallery-section{
    background-image: url("/img/gallery/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.gallery-container{
    position: relative;
    padding-bottom: 100px;
}
/* MOBILE — Swiper */
.features-swiper {
    overflow: hidden;
}

.features-swiper .swiper-wrapper {
    display: flex;
height: 223px;
}

.features-swiper .swiper-slide {
    width: 375px;
    height: auto;
    flex-shrink: 0;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    display: block;
    bottom: 6%;
    transform: translateY(-50%);
}
.swiper-button-prev{
    left: 15%;
}
.swiper-button-next{
    right: 15%;
}
@media only screen and (min-width: 1440px) {
 .gallery-section{
    background-image: url("/img/gallery/desk.png");
 }
 .swiper-button-prev,
 .swiper-button-next {
display: none;
 }
 .features-swiper .swiper-wrapper {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     height: 800px;
     gap: 20px;
 }

 .gallery-container{
    padding-left: 0;
    padding-right: 0;
 }
 .swiper-slide{
    width: 460px !important;
        height: 320px !important;
 } .first-row{
    width: 600px !important;
        height: 400px !important;
 }
}
/* Demo */
.demo-section{
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.demo-text{
    font-size: 22px;
    line-height: 1.18182;
    text-align: center;
 width: 300px;
margin: 12px auto 40px;
}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.game-img {
    width: 100%;
    display: block;
    margin-bottom: 22px;
    border-radius: 44px;
}

.demo-img {
    display: block;
    width: 227px;
        height: 98px;
    margin-left: auto;
    margin-right: auto;
}

/* iframe поверх картинки */
.iframe-wrapper {
    position: absolute;
    top: 1%;
    /* під екран у картинці */
    left: 35%;
    transform: translateX(-50%);
    width: 68%;
    height: 54%;
    z-index: 5;
}

#gameIframe {
    width: 144%;
    height: 182%;
    border: none;
    display: none;
    background: #000;
    border-radius: 44px;
}

#closeIframeBtn {
    position: absolute;
    top: 20px;
    right: -100px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    width: 60px;
    height: 30px;
}