@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./cookie-popup.css');


.background {

background-image: url("/img/back/mob.png");
background-repeat: no-repeat;
background-position: top 50px center;
background-size: cover;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.55556;
    text-align: justify;
    color: #fff;
  
}

.privacy-title {
font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.09091;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 20px;
text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-weight: 400;
    font-size: 16px;
}

.policy-list {

    list-style-type: disc;
    padding-left: 30px;
}

.underline {
font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .background {
background-image: url("/img/back/desk.png");
    }


}